@model E_Commerce.Models.Post

@{
    ViewData["Title"] = "Chỉnh Sửa Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Chỉnh Sửa Tin Tức</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Index" class="breadcrumb-item">Quản Lý Tin Tức</a>
            <span class="breadcrumb-item active">Chỉnh Sửa Tin Tức</span>
        </nav>
    </div>
</div>
<form method="post" asp-area="Admin" asp-controller="AdminPosts" asp-action="Edit" asp-route-id="@Model.PostId" enctype="multipart/form-data">
    <input type="hidden" asp-for="PostId">
    <input type="hidden" asp-for="Thumb">
    <input type="hidden" asp-for="CreateDate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-layout">
        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">TÊN TIN TỨC: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Title">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">TIÊU ĐỀ: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Scontents">
                </div>
            </div><!-- col-4 -->
        </div><!-- row -->
        <div class="row mg-b-25">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label">NỘI DUNG: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Contents">
                </div>
            </div><!-- col-4 -->
        </div>
        <div class="row mg-b-25">
            <div class="col-lg-6">
                <label class="font-weight-semibold" for="productCategory">Danh mục</label>
                <select class="custom-select" asp-items="ViewBag.AccountId" asp-for="AccountId" style="min-width: 180px;">
                    <option value="" disabled selected>Chọn quyền Tác giả</option>
                </select>
            </div><!-- col-4 -->
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="font-weight-semibold">Hình Ảnh: </label>
                    <br />
                    <img src="~/images/posts/@Model.Thumb" width="200"><br /><br />
                    <input type="file" name="fthumb" class="form-control-file" asp-for="Thumb">
                    <span asp-validation-for="Thumb" class="text-danger"></span>
                </div>
            </div><!-- col-4 -->
        </div>
        <div class="row mg-b-25">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">TAGS: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Tags">
                </div>
            </div><!-- col-4 -->
            <div class="form-group col-md-6">
                <label class="font-weight-semibold" for="productCategory">Danh mục</label>
                <select class="custom-select" asp-items="ViewBag.DanhMuc" asp-for="CatId" style="min-width: 180px;">
                    <option value="" disabled selected>Chọn quyền Danh mục</option>
                </select>
            </div>
        </div>

        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group d-flex align-items-center p-t-30">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="IsHot">
                        <label for="IsHot"></label>
                    </div>
                    <label>IsHot</label>
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group d-flex align-items-center p-t-30">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="IsNewFeed">
                        <label for="IsNewFeed"></label>
                    </div>
                    <label>IsNewFeed</label>
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group d-flex align-items-center p-t-30">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="Published">
                        <label for="Published"></label>
                    </div>
                    <label>Published</label>
                </div>
            </div><!-- col-4 -->
        </div><!-- row -->
        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">MetaKey: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="MetaKey">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">MetaDesc: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="MetaDesc">
                </div>
            </div><!-- col-4 -->
        </div>

        <div class="form-layout-footer">
            <button class="btn btn-primary bd-0">Save Changes</button>
            <button class="btn btn-secondary bd-0" asp-area="Admin" asp-controller="AdminPosts" asp-action="Index">Back To List</button>
        </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
</form>
