@model E_Commerce.Models.Order

@{
    ViewData["Title"] = "ChangeStatus";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ChangeStatus</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeStatus">
          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

