@model E_Commerce.Models.Shipper

@{
    ViewData["Title"] = "Chỉnh Sửa Shipper";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Quản Lý Shippers</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminShippers" asp-action="Index" class="breadcrumb-item">Quản Lý Tài Khoản</a>
            <span class="breadcrumb-item active">Chỉnh Sử Shipper</span>
        </nav>
    </div>
</div>
<form asp-action="Edit" asp-controller="AdminShippers" asp-area="Admin">
    <input type="hidden" asp-for="ShipperId"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-layout">
        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipperName" class="control-label"></label>
                    <input asp-for="ShipperName" class="form-control" />
                    <span asp-validation-for="ShipperName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Comnapy" class="control-label"></label>
                    <input asp-for="Comnapy" class="form-control" />
                    <span asp-validation-for="Comnapy" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-layout-footer">
            <button class="btn btn-primary bd-0">Save Changes</button>
            <button class="btn btn-secondary bd-0" asp-area="Admin" asp-controller="AdminShippers" asp-action="Index">Back To List</button>
        </div><!-- form-layout-footer -->
    </div>
</form>
