@model E_Commerce.Models.Page

@{
    ViewData["Title"] = "Tạo mới Pages";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/AdminAssets/z_SummerNote/summernote-bs4.css" rel="stylesheet">
    <link href="~/AdminAssets/z_SummerNote/summernote.css" rel="stylesheet">
}
<div class="page-header">
    <h2 class="header-title">Quản Lý Pages</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Quản Lý Pages</a>
            <span class="breadcrumb-item active">Tạo mới Pages</span>
        </nav>
    </div>
</div>
<form method="post" asp-area="Admin" asp-controller="AdminPages" asp-action="Create" enctype="multipart/form-data">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">

            </div>
            <div class="m-b-15">
                <button class="btn btn-secondary" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">
                    <i class="anticon anticon-save"></i>
                    <span>Back To List</span>
                </button>
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Tạo mới PAGE</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">THÔNG TIN PAGE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">THÔNG TIN SEO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">MÔ TẢ</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="PageName">Tên Page</label>
                        <input class="form-control" type="text" asp-for="PageName">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="Ordering">Ordering</label>
                        <input class="form-control" type="number" asp-for="Ordering">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productCategory">Thumb</label>
                        <input type="file" name="fthumb" class="form-control-file" asp-for="Thumb">
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex align-items-center p-t-30">
                        <div class="switch m-r-10">
                            <input type="checkbox" asp-for="Published">
                            <label for="Published"></label>
                        </div>
                        <label>Published</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productSize">Title</label>
                        <input class="form-control" type="text" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productColors">MetaDesc</label>
                        <input class="form-control" type="text" asp-for="MetaDesc">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productFit">MetaKey</label>
                        <input class="form-control" type="text" asp-for="MetaKey">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <textarea id="summernote" asp-for="Contents">
                </textarea>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/AdminAssets/vendors/select2/select2.min.js"></script>
    <script src="~/AdminAssets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/AdminAssets/z_SummerNote/summernote-bs4.js"></script>

    <script>
        $('#summernote').summernote({
            placeholder: 'Nhập nội dung',
            tabsize: 2,
            height: 120,
            focus: true,
            minHeight: null,
            maxHeight: null,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
}



