@model E_Commerce.Models.Page

@{
    ViewData["Title"] = "Chỉnh Sửa Pages";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Quản Lý Pages</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Quản Lý Pages</a>
            <span class="breadcrumb-item active">Chỉnh sửa Pages</span>
        </nav>
    </div>
</div>
<form method="post" asp-area="Admin" asp-controller="AdminPages" asp-action="Edit" asp-route-id="@Model.PageId" enctype="multipart/form-data">
    <input type="hidden" asp-for="PageId">
    <input type="hidden" asp-for="Thumb">
    <input type="hidden" asp-for="CreateDate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-layout">
        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">TÊN PAGES: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="PageName">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">TIÊU ĐỀ: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Title">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">SẮP XẾP: <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" value="0" asp-for="Ordering">
                </div>
            </div><!-- col-4 -->
        </div><!-- row -->
        <div class="row mg-b-25">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label">NỘI DUNG: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Contents">
                </div>
            </div><!-- col-4 -->
        </div>
        <div class="row mg-b-25">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="font-weight-semibold">Hình Ảnh: </label>
                    <br />
                    <img src="~/images/pages/@Model.Thumb" width="200"><br /><br />
                    <input type="file" name="fthumb" class="form-control-file" asp-for="Thumb">
                    <span asp-validation-for="Thumb" class="text-danger"></span>
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-6">
                <div class="form-group d-flex align-items-center p-t-30">
                    <div class="switch m-r-10">
                        <input type="checkbox" asp-for="Published">
                        <label for="Published"></label>
                    </div>
                    <label>Published</label>
                </div>
            </div><!-- col-4 -->
        </div><!-- row -->
        <div class="row mg-b-25">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">Alias: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="Alias">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">MetaKey: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="MetaKey">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">MetaDesc: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" asp-for="MetaDesc">
                </div>
            </div><!-- col-4 -->
        </div>

        <div class="form-layout-footer">
            <button class="btn btn-primary bd-0">Save Change</button>
            <button class="btn btn-secondary bd-0" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">Back To List</button>
        </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
</form>



